.wrap-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat {
  max-width: 900px;
  background-color: #fff;
  color: #000;
  height: 80%;
  width: 90%;
  border: 1px solid #3F0640;
  box-shadow: 1px 1px 10px #3F0640;
  border-radius: 10px;
  display: flex;
}
.chat .chat-options {
  border-right: 1px solid #3F0640;
  margin: auto 0;
  height: 100%;
  gap: 10px;
  min-width: 250px;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
.chat .chat-options .chat-options-header {
  width: 100%;
  height: 100%;
}
.chat .chat-options .chat-options-header .legends {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.chat .chat-options .chat-options-header .legends .new-chat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .chat-options .chat-options-header .legends .new-chat #icon {
  height: 50px;
  width: 100px;
}
.chat .chat-options .other-chats-wrapper {
  height: 80%;
  width: 100%;
  overflow-y: auto;
}
.chat .chat-options .other-chats-wrapper .other-chat {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top: 1px solid #3F0640;
  border-bottom: 1px solid #3F0640;
  padding: 0.6em;
}
.chat .chat-options .other-chats-wrapper .other-chat p {
  font-size: large;
  font-weight: 500;
  margin: 0 10px;
}
.chat .chat-options .other-chats-wrapper .other-chat img {
  border: 2px solid #3F0640;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat .chat-messages {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100%;
  background-color: black;
  width: 100%;
  border-radius: 0 10px 10px 0;
  position: relative;
}
.chat .chat-messages .loading {
  z-index: 1000;
  top: 10%;
  left: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #b3b3b3;
  border-radius: 50%;
}
.chat .chat-messages .loading .loading-icon {
  opacity: 1;
  border: 4px solid #fff; /* Light grey */
  border-top: 4px solid #F2AA52; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.chat .chat-messages .chat-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 10px 0 0;
  background-color: rgba(191, 54, 104, 0.5);
}
.chat .chat-messages .chat-header h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  width: 100%;
  color: #fff;
}
.chat .chat-messages .messages {
  overflow-y: auto;
  background-color: #fff;
  padding: 20px 10px;
  position: relative;
}
.chat .chat-messages .messages img {
  max-width: 100%;
}
.chat .chat-messages .messages .other-person-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.chat .chat-messages .messages .other-person-wrapper .other-person-msg {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chat .chat-messages .messages .other-person-wrapper .other-person-msg #avatar {
  align-self: flex-start;
  border: 1px solid #F2CA52;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat .chat-messages .messages .other-person-wrapper .other-person-msg .msg-author {
  margin: 0;
  font-weight: 500;
}
.chat .chat-messages .messages .other-person-wrapper .msg {
  border: 1px solid #F2CA52;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.chat .chat-messages .messages .my-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat .chat-messages .messages .my-wrapper .my-msg {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.chat .chat-messages .messages .my-wrapper .my-msg .msg-author {
  margin: 0;
  font-weight: 500;
}
.chat .chat-messages .messages .my-wrapper .my-msg #avatar {
  align-self: flex-start;
  border: 1px solid #F2CA52;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat .chat-messages .messages .my-wrapper .msg {
  background-color: #BF3668;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.chat .chat-messages .chat-footer {
  border-radius: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.chat .chat-messages .chat-footer form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1px solid #3F0640;
}
.chat .chat-messages .chat-footer form .EmojiPickerReact {
  position: fixed;
  z-index: 100;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 1px 1px 10px #3F0640;
}
.chat .chat-messages .chat-footer form .select-emoji {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .chat-messages .chat-footer form button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  font-weight: 500;
  border-radius: 5px;
}
.chat .chat-messages .chat-footer form input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0 10px;
  outline: 0;
}
.chat .chat-messages .chat-footer form .send {
  display: flex;
}
.chat .chat-messages .chat-footer form .send button[type=submit]:hover {
  color: #fff !important;
  cursor: pointer;
  border: none;
  background-color: #BF3668;
  color: #3F0640;
}
.chat .chat-messages .chat-footer form .send .send-image input[type=file] {
  display: none;
}
.chat .chat-messages .chat-footer form .send .send-image label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
}
.chat .chat-messages .chat-footer form .send .send-image label:hover {
  color: #fff;
  cursor: pointer;
  background-color: #BF3668;
  border-radius: 5px;
}

body.dark .chat {
  background-color: #000;
  color: #fff;
  border: 1px solid #F2CA52;
  box-shadow: 1px 1px 10px #fff;
}
body.dark .chat .chat-options {
  border-right: 1px solid #F2CA52;
}
body.dark .chat .chat-options .other-chats-wrapper .other-chat {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
body.dark .chat .chat-options .other-chats-wrapper .other-chat img {
  border: 2px solid #F2CA52;
  background-color: #fff;
}
body.dark .chat .chat-messages {
  background-color: #BF3668;
}
body.dark .chat .chat-messages .loading {
  background-color: #666666;
}
body.dark .chat .chat-messages .loading .loading-icon {
  opacity: 1;
  border: 4px solid #000; /* Light grey */
  border-top: 4px solid #F2AA52; /* Blue */
}
body.dark .chat .chat-messages .chat-header {
  background-color: #042940;
}
body.dark .chat .chat-messages .chat-header h1 {
  color: #fff;
}
body.dark .chat .chat-messages .messages {
  background-image: linear-gradient(to top, #000, #042940);
}
body.dark .chat .chat-messages .messages .other-person-wrapper .other-person-msg #avatar {
  border: 1px solid #000;
  background-color: #000;
}
body.dark .chat .chat-messages .messages .other-person-wrapper .msg {
  border: 1px solid #fff;
  color: #fff;
}
body.dark .chat .chat-messages .messages .my-wrapper .my-msg #avatar {
  border: 1px solid #000;
  background-color: #000;
}
body.dark .chat .chat-messages .messages .my-wrapper .msg {
  background-color: #BF3668;
  color: #fff;
}
body.dark .chat .chat-messages .chat-footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
}
body.dark .chat .chat-messages .chat-footer #err {
  max-height: 50px;
}
body.dark .chat .chat-messages .chat-footer form {
  background-color: #fff;
  border: 1px solid #F2CA52;
}
body.dark .chat .chat-messages .chat-footer form .send button[type=submit]:hover {
  color: #fff !important;
  background-color: #BF3668;
  color: #3F0640;
}
body.dark .chat .chat-messages .chat-footer form .send .send-image label {
  color: #000 !important;
  transition: 0.3s;
}
body.dark .chat .chat-messages .chat-footer form .send .send-image label:hover {
  color: #fff !important;
  background-color: #BF3668;
}

@media screen and (max-width: 768px) {
  .wrap-chat {
    position: relative;
    width: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .wrap-chat .header {
    height: 10%;
  }
  .wrap-chat .chat {
    z-index: 0;
    width: 100% !important;
    border-radius: 0;
    border: none !important;
    height: 90%;
  }
  .wrap-chat .chat .chat-options {
    display: none;
    position: absolute;
    left: -9999px;
  }
  .wrap-chat .chat .chat-messages {
    max-height: 100%;
  }
  .wrap-chat .chat .chat-header {
    border-radius: 0;
  }
  .wrap-chat .chat .chat-footer form {
    height: 100%;
    width: 100%;
  }
  .wrap-chat .chat .chat-footer form #new-text {
    width: 100%;
    height: 80%;
    font-size: 1.2em;
  }
}/*# sourceMappingURL=chat.css.map */