.send-message{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    border-top: 1px solid black;
    padding: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diplay-messages{
    position: relative;
    border: 1px solid black;
    height: 80vh;
    border-radius: 5vmin 5vmin 0 0;
    padding: 5vmin;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.335);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 5vmin;
    scrollbar-width: none; 
}

.diplay-messages::-webkit-scrollbar {
    display: none;
}

.other-person-msg{
    border-radius: 5vmin;
    margin: 2vmin 0;
    width: fit-content;

    align-self: flex-start;
}

.other-person-msg .msg{
    color: black;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.335);
    background-color: #e6e6e6;
}

.my-msg{
    border-radius: 5vmin;
    margin: 2vmin 0;
    align-self: flex-end;
}

.my-msg .msg{
    background-color: rgb(99, 99, 254);
}

.my-msg .msg-author{
    text-align: right;
}

.msg{
    color: white;
    width: fit-content;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.335);
    padding: 0.8em;
    border-radius: 5vmin;
    min-width: 12vmin;
    margin-bottom: 0;
}

.msg-author{
    font-size: 0.9em;
    color: black;
    
    margin-bottom: 10px;
}