$main-color: #BF3668;
$secondary-color: #3F0640;
$tertiary-color: #F2CA52;
$quaternary-color: #F2AA52;
$quinary-color: #BF4539;

$main-color-light: lighten($main-color, 10%);
$main-color-dark: darken($main-color, 10%);
$main-color-transparent: rgba($main-color, 0.5);
$light: #fff;
$dark: #000;

body.dark {
  $main-color: #BF3668;
  $secondary-color: #3F0640;
  $tertiary-color: #F2CA52;
  $quaternary-color: #F2AA52;
  $quinary-color: #BF4539;

  $main-color-light: lighten($main-color, 10%);
  $main-color-dark: darken($main-color, 10%);
  $main-color-transparent: rgba($main-color, 0.5);
  $light: #000;
    $dark: #fff;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 600px;
    background-color: $main-color;
    color: $dark;
    border: 1px solid $main-color-dark;
    box-shadow: 0 0 10px $main-color-transparent;
    padding: 1.5rem;

    @media screen and (max-width: 768px) {
        width: 100%;
        border-radius: 0 !important;
    }

    h1{
        color: $main-color;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 75%;

            @media screen and (max-width: 600px) {
                width: 90%;
            }
                
            label{
                margin-bottom: 0.5rem;
                font-weight: 600;
            }
            input{
                box-shadow: 1px 1px 4px black;
                padding: 0.5rem;
                border: 1px solid $main-color-dark;
                border-radius: 0.25rem;
                background-color: $main-color;
                color: $light;
                transition: 0.3s;
                font-weight: 500;
                &:focus{
                    outline: none;
                    border-color: $main-color-light;
                    background-color: lighten($main-color, 30%);
                    color: $dark;
                }
                &:active{
                    background-color: lighten($main-color, 30%);
                }
            }
        }
        button[type="submit"]{
            box-shadow: 1px 1px 4px black;
            width: 60%;
            padding: 0.2rem;
            border: 1px solid $main-color;;
            border-radius: 0.25rem;
            background-color: $light;
            color: $main-color;
            transition: 0.3s;
            font-weight: 600;
            margin: 0.7rem 0;
            &:hover{
                background-color: lighten($main-color, 10%);
                color: $dark;
            }
            &:active{
                opacity: 0.5;
                background-color: lighten($main-color, 40%);
            }
        }
    }
}

a{
    color: darken($quaternary-color, 10%) !important;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
        color: $main-color-light !important;
    }
}

.alert, .success{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.5rem !important;
    border-radius: 0.25rem;
    color: $quinary-color !important;
    background-color: transparent !important;
}



.loading-wrap{
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1000;
    border-radius: 5vmin;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    .loading{
        opacity: 1.0;
        border: 4px solid $dark; /* Light grey */
        border-top: 4px solid $quaternary-color; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}