@use './colors/colors.scss' as *;

.hidden{
    display: none !important; 
    position: absolute !important;
    left: -9999px !important;
}

#background{
    background-image: linear-gradient(to bottom, $main-color, $main-color-dark);   
}

body.dark{
    #background{
        background-image: linear-gradient(45deg,$main-color-dark 20%, $secondary-color 70%);
    }
}